<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.teamone.user.query.repository.UserMapper">
    <resultMap id="userMap" type="org.teamone.user.query.domainData.entity.QueryUserEntity">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="nickname" column="NICKNAME"/>
        <result property="provider" column="PROVIDER"/>
        <result property="accessLevel" column="ACCESS_LEVEL"/>
        <result property="userStatus" column="USER_STATUS"/>
        <result property="followerCnt" column="FOLLOWER_CNT"/>
        <result property="followingCnt" column="FOLLOWING_CNT"/>
        <result property="grade" column="GRADE"/>
        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="snsId" column="SNS_ID"/>
        <result property="userId" column="USER_ID"/>
    </resultMap>

    <select id="findUserById" resultMap="userMap" parameterType="org.teamone.user.query.domainData.entity.QueryUserEntity">
        SELECT *
          FROM TBL_USER A
         WHERE ID = #{ id } AND USER_STATUS = 'ACTIVE'
    </select>
</mapper>