<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamone.projecttemplate.query.repository.RequirementMapper">
    <resultMap id="requirementResultMap" type="org.teamone.projecttemplate.query.entity.Requirement">
        <id property="projectId" column="PROJECT_ID"/>
        <result property="requirementNo" column="REQUIREMENT_NO"/>
        <result property="separate" column="SEPARATE"/>
        <result property="name" column="NAME"/>
        <result property="content" column="CONTENT"/>
        <result property="note" column="NOTE"/>
        <result property="projectId" column="PROJECT_ID"/>
    </resultMap>
    <select id="selectRequirementByProjectId" resultMap="requirementResultMap" parameterType="org.teamone.projecttemplate.query.entity.Requirement">
        SELECT
                ID
              , REQUIREMENT_NO
              , SEPARATE
              , NAME
              , CONTENT
              , NOTE
              , PROJECT_ID
          FROM TBL_PROJECT_REQUIREMENT
         WHERE PROJECT_ID = #{projectId}
         ORDER BY REQUIREMENT_NO ASC
    </select>
    <select id="selectRequirementBySeparateAndProjectId" resultMap="requirementResultMap" parameterType="org.teamone.projecttemplate.query.entity.Requirement">
        SELECT
                ID
              , REQUIREMENT_NO
              , SEPARATE
              , NAME
              , CONTENT
              , NOTE
              , PROJECT_ID
          FROM TBL_PROJECT_REQUIREMENT
         WHERE SEPARATE LIKE '%' #{separate} '%'
           AND PROJECT_ID = #{projectId}
         ORDER BY REQUIREMENT_NO ASC
    </select>
    <select id="selectRequirementById" resultMap="requirementResultMap" parameterType="org.teamone.projecttemplate.query.entity.Requirement">
        SELECT
                ID
              , REQUIREMENT_NO
              , SEPARATE
              , NAME
              , CONTENT
              , NOTE
              , PROJECT_ID
          FROM TBL_PROJECT_REQUIREMENT
         WHERE ID = #{id};
    </select>
</mapper>
