<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.teamone.tempository.project.query.dao.ProjectMapper">

    <resultMap id="projectResultMap" type="org.teamone.tempository.project.query.entity.Project">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="isPublic" column="IS_PUBLIC"/>
        <result property="likeCnt" column="LIKE_CNT"/>
        <result property="status" column="STATUS"/>
        <result property="content" column="CONTENT"/>
    </resultMap>

    <select id="getProjectInfoById" resultMap="projectResultMap" parameterType="org.teamone.tempository.project.query.entity.Project">
        SELECT
              A.ID
            , A.NAME
            , A.IS_PUBLIC
            , A.LIKE_CNT
            , A.STATUS
            , A.CONTENT
         FROM TBL_PROJECT A
        WHERE A.ID = #{ id }
    </select>

    <select id="getProjectInfoByStatus" resultMap="projectResultMap" parameterType="org.teamone.tempository.project.query.entity.Project">
        SELECT
              A.ID
            , A.NAME
            , A.IS_PUBLIC
            , A.LIKE_CNT
            , A.STATUS
            , A.CONTENT
         FROM TBL_PROJECT A
        WHERE A.STATUS = #{ status }

    </select>

    <select id="getProjectInfoOrderByLike" resultMap="projectResultMap" parameterType="org.teamone.tempository.project.query.entity.Project">
        SELECT
              A.ID
            , A.NAME
            , A.IS_PUBLIC
            , A.LIKE_CNT
            , A.STATUS
            , A.CONTENT
         FROM TBL_PROJECT A
        ORDER BY LIKE_CNT DESC;

    </select>

    <select id="getProjectInfoByIsPublic" resultMap="projectResultMap" parameterType="org.teamone.tempository.project.query.entity.Project">
        SELECT
              A.ID
            , A.NAME
            , A.IS_PUBLIC
            , A.LIKE_CNT
            , A.STATUS
            , A.CONTENT
         FROM TBL_PROJECT A
        WHERE A.IS_PUBLIC = #{ isPublic }

    </select>
<resultMap id="projectJoinMemberMap" type="org.teamone.tempository.project.query.entity.Project">
    <id property="id" column="ID"/>
    <result property="name" column="NAME"/>
    <result property="isPublic" column="IS_PUBLIC"/>
    <result property="likeCnt" column="LIKE_CNT"/>
    <result property="status" column="STATUS"/>
    <result property="content" column="CONTENT"/>
    <collection property="projectMemberList" ofType="org.teamone.tempository.project.query.entity.ProjectMember">
        <id property="projectId" column="PROJECT_ID"/>
        <id property="memberId" column="MEMBER_ID"/>
        <result property="position" column="POSITION"/>
        <result property="memberStatus" column="MEMBER_STATUS"/>
    </collection>
</resultMap>

    <select id="getProjectJoinUserById" resultMap="projectJoinMemberMap" parameterType="string" >
        SELECT
              A.ID
            , A.NAME
            , A.IS_PUBLIC
            , A.LIKE_CNT
            , A.STATUS
            , A.CONTENT
            , B.MEMBER_ID
            , B.PROJECT_ID
            , B.POSITION
            , B.MEMBER_STATUS
         FROM TBL_PROJECT A
         JOIN TBL_PROJECT_MEMBER B ON (A.ID = B.PROJECT_ID)
        WHERE A.ID = #{ id }
    </select>

    <resultMap id="projectIssueInfoMap" type="org.teamone.tempository.project.query.entity.Project">
        <id property="id" column="ID"/>
        <result property="name" column="NAME"/>
        <result property="isPublic" column="IS_PUBLIC"/>
        <result property="likeCnt" column="LIKE_CNT"/>
        <result property="status" column="STATUS"/>
        <result property="content" column="CONTENT"/>
        <collection property="projectIssueList" ofType="org.teamone.tempository.project.query.entity.ProjectIssue">
            <result property="projectId" column="PROJECT_ID"/>
            <result property="managerId" column="MANAGER_ID"/>
            <result property="writerId" column="WRITER_ID"/>
            <result property="issueNo" column="ISSUE_NO"/>
            <result property="issueName" column="ISSUE_NAME"/>
            <result property="issueStatus" column="ISSUE_STATUS"/>
            <result property="issueContent" column="ISSUE_CONTENT"/>
        </collection>
    </resultMap>


    <select id="getProjectIssueById" resultMap="projectIssueInfoMap" parameterType="String">
        SELECT
              A.ID
            , B.ISSUE_NO
            , B.ISSUE_NAME
            , B.ISSUE_STATUS
            , B.ISSUE_CONTENT
            , B.MANAGER_ID
            , B.WRITER_ID
            , B.PROJECT_ID
         FROM TBL_PROJECT A
         JOIN TBL_PROJECT_ISSUE B ON (A.ID = B.PROJECT_ID)
        WHERE B.PROJECT_ID = #{ id }
    </select>

</mapper>